* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Alkatra', cursive;
}

.site {
  background-color: rgb(189, 191, 195);
}

.header {
  background-color: rgb(189, 191, 195);
  height: 130px;
}

.logo {
  display: flex;
  width: 150;
  height: 130px;
}

.body {
  display: flex;
  justify-content: center;
  margin: auto;
  height: 101vh;
  width: 90%;
  background-color: white;

}

.textbox1 {
  position: absolute;
  margin-top: 10px;
  left: 150px;
  float: center;
  width: 1001px;
  height: 200px;
  text-align: center;
}

.Bbogo {
  display: flex;
  opacity: 0.2;
  position: relative;
}

.picMain {
  display: flex;
  position: absolute;
  margin-top: 400px;
  
}
.imageList{
  display: flex;
  position: absolute;
  margin-top: 900px;
}
.images{
  display: flex;
  width: 750px;
  height: 500px;
}

.footer {
  display: flex;
  background-color: rgb(189, 191, 195);
  height: 30px;
}