* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.site {
  background-color: rgb(189, 191, 195);

}

.header {
  background-color: rgb(189, 191, 195);
  height: 130px;
}

.logo {
  display: flex;
  width: 150;
  height: 130px;
}

.h1 {
  color: black;
  background-color: rgb(189, 191, 195);
}

.body {
  justify-content: center;
  margin: auto;
  height: 201vh;
  width: 90%;
  background-color: white;

}

.textbox1 {
  margin: auto;
  width: 1000px;
  height: auto;
  text-align: center;
  justify-content: center;
}


.picMain {
  display: flex;
  margin: auto;
  justify-content: center;
  padding-top: 150px;
}

.imageM {
  display: flex;
  width: 1300px;
  height: 500px;
}

.imageList {
  display: flex;
  margin: auto;
  justify-content: center;
}

.images {
  display: flex;
  width: 763px;
  height: 550px;
}

.textbox2 {
  display: flex;
  margin: auto;
  justify-content: center;
}

.footer {
  background-color: rgb(189, 191, 195);
  height: 30px;
}